[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yadict_compare = "*"

[packages]
antlr4-python3-runtime = "~=4.8"
jsonasobj = "*"
requests = "*"
yadict-compare = "*"
